fastapi[standard]
uvicorn
sqlalchemy[asyncio]
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
razorpay
supabase
python-multipart
python-dotenv
aiosqlite
python-dateutil
asyncpg
apscheduler